<%#  
Things to change: 
    - action
    - hidden input patch
    - pre-filled values
    - submit button
-  %>

<% if action == :edit %>
    <% action_url = cat_url(cat)%>
<% else%>
    <% action_url = cats_url %>
<% end %>



<form action="<%= action_url %>" method = "post">
    <%# hidden: hides an input from being exposed to the user, but data is included in the form %>
    <%# _method:  overrides the specified method on the form tag & uses _method instead %>
    <% if action == :edit %>
        <input type="hidden" name="_method" value="PATCH">
    <% end %>


    <%# for: which input the label is tied to %>
    <label for="name">Name:</label>
    <input id="name" type="text" name="cat[name]" value = "<%= cat.name %>">
    <br>

    <label for="male">Sex: Male</label>
    <input type="radio" id="sex" name="cat[sex]" value=value = "<%= cat.sex %>">
    <label for="female">Female</label>
    <input type="radio" id="sex" name="cat[sex]" value=value = "<%= cat.sex %>">
    
    <br>

    <label for="color">Color:</label>
    <select id="color" name="cat[color]">
        <option disabled <%= cat.color== "" ? "selected" : "" %>>--select color--</option>
        <option value="Black" <%= cat.color== "Black" ? "selected" : "" %>>Black</option>
        <option value="Blue" <%= cat.color== "Blue" ? "selected" : "" %>>Blue</option>
        <option value="Brown" <%= cat.color== "Brown" ? "selected" : "" %>>Brown</option>
        <option value="Mixed" <%= cat.color== "Mixed" ? "selected" : "" %>>Mixed</option>
        <option value="Orange" <%= cat.color== "Orange" ? "selected" : "" %>>Orange</option>
        <option value="White" <%= cat.color== "White" ? "selected" : "" %>>White</option>
    ></select>

    <br>

    <label for="birth_date">Birthday:</label>
    <input id="birth_date" type="date" name="cat[birth_date]" value = "<%= cat.birth_date %>" >

    <br>

    <label for="description">Description:</label>
    <textarea name="cat[description]">
        <%= cat.description%>
    </textarea>
    <br>

    <input type="submit" value="<%= (action == :edit) ? 'update cat' : 'add cat' %>"> 
</form>

